.app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .title{
    text-align: center;
  }
  .box{
    // display: none;
    #btnInstall{
      width: 75px;
      height: 40px;
      background: #007bff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

